# Claude Code
.claude/

# Build outputs
build/
obj/

# IDE / Editor
*.suo
*.user
*.userosscache
*.sln.docstates
.vs/
*.code-workspace

# NuGet
*.nupkg

#dependencies
lib/

# OS files
Thumbs.db
desktop.ini
.DS_Store
obj/Debug/ArchipelagoBepin6Template.Unity.IL2Cpp.csproj.AssemblyReference.cache
